<body style="background-image:Url('./assets/images.jpeg');background-attachment:fixed" >
  <div class="container"style="text-align:center;padding:33px;" >
    <div class="jumbotron"style="padding:60px;" >
      <h1 style="text-align:center; font-size:445%;text-decoration: underline; color:white;">GITHUB SEARCH APP</h1>
      <p style="color:white;font-size:40px;"><b>WELCOME!</b> to the GitHub search app which allows a user to search for a github user using his or her username and outputs the search details from github.Feel free to explore the app.</p>
      <button style="padding-left:30px;padding-right:30px; background-color:black;color:white;" a routerLink='/repositories' routerLinkActive='active'><h1>USE APP</h1></button>
      <router-outlet></router-outlet>
</div>
</div>